@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:400,700&display=swap');

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Aleo', serif;

@import 'mixins';
@import 'normalize';
@import 'variables';


* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: 1.6rem/1 $aleo-font;
    border: 8px solid #fff;
    background-color: #041F48;
}

section {
    height: 100vh;
}

.container-column, .container-row {
    margin: auto;
    max-width: 1140px;
    width: 96%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-row {
    flex-direction: row;
}

.main {
    background-image: url(../img/first-screen.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    min-height: 100%;
    
    &__title {
        padding: 16% 10px 6px;
        margin: 0;
        text-transform: uppercase;
        @include text($color: #fff, $family: $josefin-font, $size: 4.8rem, $weight: 700, $line: 1.2);
        letter-spacing: 1px;
    }

    &__subtitle {
        margin: 0;
        @include text($color: #fff, $family: $josefin-font, $size: 2.2rem, $weight: 400, $line: 1);
        letter-spacing: 0.45rem;
        padding: 0 10px;
    }
    
    &__search {
        @include text($color: #fff, $family: $josefin-font, $size: 1.4rem, $weight: 400, $line: 1);
        margin: 40px 0 10%; 
        display: flex;
        position: relative;
        min-width: 65%;
    }
    
    &__scroll {
        display: block;
    }
}

.search {
    height: 60px;
    border: 2px solid #fff;
    
    
    &__input::placeholder {
        color: #999;
        opacity: .8;
        letter-spacing: 2px;
        text-align: center;
        
    }
    
    &__input {
        width: 82%;
        background-color: #fff;
        font-size: 1.8rem;
        color: #999;
        margin: 0;
        border: none;
        padding: 4px 12px;
    }
        
    &__btn {
        font-family: $aleo-font;
        margin: 0;
        border: none;
        background-color: #5474FD;
        padding: 10px;

    }

    &__btn:hover {
        opacity: .5;
    }
    &__btn:focus {
        background-color: rgb(0, 38, 255);
    }
    &__btn:active {
        opacity: 1;
    }
    
    &__text {
        @include text($color: #fff, $family: $aleo-font, $size: 1.4rem, $weight: 400, $line: 1);
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 4px 20px 0 10px ;
        align-items: center;
    }

    &__img {
        width: 20px;
        margin: 1px;
    }
}

.scroll {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-family: $josefin-font;
    
    &__arrow {
        text-decoration: none;
        font-size: 2rem;
        color: #fff;
    }
    
    &__arrow:hover {
        color: rgb(123, 147, 255);
    }
}

// .fa-chevron-down:hover {
//     transform: scale(1.5);
// }

.nav {
    margin: -80px 0 0 0;
    width: 100%;
    height: 80px;
    background-color: #5474FD;
    padding: 0 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    // position: fixed;
    
    &__logo {
        text-decoration: none;
        @include text($color: #fff, $family: $josefin-font, $size: 2.4rem, $weight: 400, $line: 1);
    }

    &__logo:hover {
        color: rgb(0, 38, 255);
        transform: scale(1.2);
    }
    
    &__menu {
        list-style: none;
    }
}

.menu {
    &__item {
        display: inline-block;
        margin-left: 20px;
    }
    
    &__link {
        text-decoration: none;
        @include text($color: #fff, $family: $aleo-font, $size: 1.4rem, $weight: 400, $line: 1);
    }
}

.menu__item--main:hover, .menu__item--story:hover, .menu__item--options:hover, .menu__item--footer:hover {
    color: rgb(0, 38, 255);
    transform: scale(1.2);
}

.store {
    background-image: url(../img/second-screen.png);
    display: flex;
    padding: 0 12%;

    &__info {
        text-align: left;
    }
    
    &__img {

    }
}

.info {
    &__title {
        @include text($color: #fff, $family: $aleo-font, $size: 3.6rem, $weight: 400, $line: 1);
        margin-bottom: 50px;
    }
    &__text {
        @include text($color: $text-color, $family: $josefin-font, $size: 1.6rem, $weight: 400, $line: 1.6);
        margin-bottom: 30px;
        overflow: hidden;
        max-height: 79px;
        
    }
}

.btn {
    width: 225px;
    height: 60px;
    text-transform: uppercase;
    border: none;
    @include text($color: #fff, $family: $aleo-font, $size: 1.6rem, $weight: 400, $line: 1);
    background-color: #496BFE;
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;

    &:hover {
        opacity: .5;
    }
    &:focus {
        background-color: transparent;
        border: 2px solid #496BFE;
        transition: .3s ease-out;
    }
    &:active {
        opacity: 1;
    }
        
}


.img {
    
    &__foto1 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3px;
    }
    
    &__foto2 {
        display: flex;
        justify-content: flex-end;
        margin-left: 45%;
    }
}

.plan {
    max-height: 340px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    text-align: center;
    background-color: #333333;
    text-overflow: ellipsis;
    
    &__i {
        font-size: 5rem;
    }
    
    &__text {
        @include text($color: $text-color, $family: $aleo-font, $size: 3.6rem, $weight: 400, $line: 1);
        margin: 30px 42px ;
    }
}

.arc {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        transform: translate(0%, -50%);
        z-index: 0;
        width: 60%;
        background-image: url(../img/arc.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    i {
        padding: 15px;
        background-color: #333;
        z-index: 1;
        position: relative;
    }
}

.fa-search {
    color: #5474FD;
}

.fa-check-circle {
    color: #FF6363;
}

.fa-thumbs-up {
    color: #00A2FF;
}

.option1, .option2 {

    &__country {
        @include text($color: $text-color, $family: $josefin-font, $size: 2rem, $weight: 400, $line: 1);
    }
    
    &__hotel {
        text-transform: uppercase;
        @include text($color: #ffffff, $family: $josefin-font, $size: 2rem, $weight: 400, $line: 1);
        margin: 25px 0;
    }
    
    &__text {
        @include text($color: $text-color, $family: $josefin-font, $size: 1.6rem, $weight: 400, $line: 1.8);
        margin-bottom: 45px;
        overflow: hidden;
        max-height: 85px;

    }
}

.bg1, .bg2 {
    margin: 16% 64% 7% 23%;
    padding: 35px 25px;
    width: 540px;
    height: 370px;
    background-color: #232323;
    opacity: .9;
}

.bg2 {
    margin: 16% 23% 7% 64%;

}

.option1 {
    background-image: url(../img/third-screen.png);
    background-position: center;
    background-repeat: no-repeat;
    
}

.option2 {
    background-image: url(../img/fourth-screen.png);
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    background-image: url(../img/last-screen.png);
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        @include text($color: #ffffff, $family: $aleo-font, $size: 3.6rem, $weight: 400, $line: 1);
        margin: 90px 0 70px;
    }
    
    &__block {
        
    }
}

.block {
    display: flex;
    justify-content: space-around;
    // align-items: baseline;
    position: relative;

    &__foto {
    
    }
    
    &__comment {
        background-color: #333;
        width: 61%;
        max-height: 285px;
        padding: 15px 45px;
        text-overflow: ellipsis;
    }
    
    &__name {
        text-transform: uppercase;
        @include text($color: #fefefe, $family: $josefin-font, $size: 2rem, $weight: 400, $line: 1);
        margin-bottom: 40px;
    }
    
    &__text {
        @include text($color: #f8f8f8, $family: $josefin-font, $size: 1.6rem, $weight: 400, $line: 1.5);
        overflow: hidden;
        max-height: 160px;
        padding: 12px;

    }

    &__quote {
        @include text($color: #5474FD, $family: $josefin-font, $size: 2rem, $weight: 400, $line: 1);
        position: relative;
        top: -12px;
    }

        
}


.footer {
    background-color: #232323;
    max-height: 270px;
    text-align: center;
    padding: 9% 0 0;
    
    
    &__title {
        text-transform: uppercase;
        @include text($color: #fff, $family: $josefin-font, $size: 2.4rem, $weight: 700, $line: 1);
        letter-spacing: 4px;
        text-decoration: none;
        
        p {
            margin: 0;
        }    
    }

    &__title:hover {
        color: #5474FD;
        transform: scale(1.1);
        transition: .3s ease-out;
    }

    &__subtitle {
        text-transform: capitalize;
        @include text($color: #fff, $family: $josefin-font, $size: 1.6rem, $weight: 400, $line: 1);
        letter-spacing: 1px;
        margin: 2px;
    }
    
}

.fab {
    font-size: 1.6rem;
    color: #e8e8e8;
    margin: 15% 0 0 7px;
    letter-spacing: 15px;

}

.fa-linkedin-in {
    color: #5474FD;
}